@charset "utf-8";

/* 1. Reset/Normalize */
/* 2. Variáveis (:root) */
/* 3. Tipografia (body, h1-h6, p, etc) */
/* 4. Layout (header, nav, main, footer) */
/* 5. Componentes (cards, buttons, forms) */
/* 6. Utilities/helpers (.text-center, .m-1, etc) */
/* 7. Media queries/responsividade */

/* -------------------------- */
/* Basic reset */
/* -------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------- */
/* 2. Variáveis (:root) */
/* -------------------------- */
:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  /* Configuration font Young Sefif */
  --font-young-serif: "Young Serif", serif;
  --font-young-weight: 400;
  --font-young-style: normal;

  /* Configurantion font Outfit */
  --font-outfit-family: "Outfit", sans-serif;
  --font-outfit-weight: <weight>;
  --font-outfit-style: normal;
  --font-outfit-optical-sizing: auto;
}

/* ------------------------------------------- */
/* 3. Tipografia (body, h1-h6, p, etc) */
/* ------------------------------------------- */
body {
  color: var(--Stone-600);
  font-size: 16px; /* (paragraph) */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-title,
.card-subtitle-large {
  font-family: var(--font-young-serif);
}

.card-subtitle-small,
.card-paragraph,
.card-ul li,
.card-ol li,
.card-table-nutrition {
  font-family: var(--font-outfit-family);
}

.card-title {
  color: var(--Stone-900);
  font-size: 2rem;
  line-height: 1;
}

.card-paragraph {
  color: var(--Stone-600);
  line-height: 1.4;
}

.card-subtitle-large {
  color: var(--Brown-800);
}

.card-subtitle-small {
  color: var(--Rose-800);
}

.card-instructions li::marker {
  color: var(--Brown-800);
}

.card-title,
.card-paragraph,
.card-subtitle-large,
.card-subtitle-small,
.card-ul,
.card-ol {
  margin-bottom: 20px;
}

/* ------------------------------------------- */
/* 4. Layout (header, nav, main, footer) */
/* ------------------------------------------- */


/* ------------------------------------------ */
/* 5. Componentes (cards, buttons, forms) */
/* ------------------------------------------ */

.card-preparation-time {
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--Rose-50);
  border-radius: 15px;
}

.preparation-time {
  margin: 0 25px;
}

.preparation-time li {
  margin-bottom: 10px;
}

.preparation-time li::marker {
  color: var(--Rose-800);
}


.ingredients li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.instructions li {
  padding-left: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.instructions, .ingredients {
  margin-left: 25px;
}

.ingredients li::marker,
.instructions li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}

strong {
  color: var(--Stone-600);
}

/* ------------------------------------- */
/* 7. Media queries/responsividade */
/* ------------------------------------- */

/* MOBILE FIRST 375px */
@media (max-width: 375px) {
  .card {
    width: 375px;
    max-height: 100vh;
  }

  .card-information {
    display: flexbox;
    flex-direction: column;
    margin: 30px;
  }

  .attribution {
    display: none;
  }
}

/* DESKTOP 1440px */
@media (min-width: 600px) {
  .card {
    width: 600px;
  }
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
